.env
conf.json
venv/
myenv
backend_flask/uploads/*.png
backend_flask/uploads/*.jpeg
backend_flask/uploads/*.jpg
backend_flask/uploads/*.bmp
backend_flask/uploads/

backend_flask/__pycache__/*.pycn
backend_flask/__pycache__
backend_flask/__pycache__/*.pyc

.DS_Store
*.pyc
*.cpython
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

backend_flask/__pycache__/app2.cpython-313.pyc
backend_flask/helpers/__pycache__/DecimalEncoder.cpython-313.pyc
backend_flask/helpers/__pycache__/Logger.cpython-313.pyc
backend_flask/providers/__pycache__/ClaudeAI.cpython-313.pyc
backend_flask/providers/__pycache__/ClaudeAI2.cpython-313.pyc
backend_flask/database/__pycache__/db.cpython-313.pyc
backend_flask/__pycache__/app2.cpython-313.pyc
