<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edu Evaluation</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/learn-icon.png">
    <link rel="stylesheet" href="/assets/ekamai.css">

</head>
<body>
    <div class="app-bar">
        <!-- Your app bar content here -->
        <a href="/"><img src="/assets/back-arrow.svg" height="25px" width="25px" /></a>
        <span class="h1">Aanya AI</span>
        <span class="h2" style="width: 100%"></span>
        <img src="/assets/menu.svg" height="25px" width="25px" id="btn" onclick="showDialog();" style="float: right;"></img>
    </div>
    <div id="chat-container">
        <p>
            File Not Found (404)
        </p>

    </div>


    
</body>
</html>
